<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nice.mapper.UserRelevanceMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.nice.domain.UserRelevance">
		<id column="id" property="id" />
		<result column="userNO_A" property="userNOA" />
		<result column="userNO_B" property="userNOB" />
	</resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, userNO_A AS userNOA, userNO_B as userNOB
    </sql>

</mapper>
